*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.solar-system{
    width:100vw; 
    height:100vh; 
    background-color:#000; 
    display: flex;
    flex-direction: row;
    align-items:center; 
    justify-content: center;
    position:relative;
    background:url("space.avif"); 
    overflow: hidden;
}
.sun{
    width:150px; 
    height:150px; 
    border-radius:50%; 
    background-image:radial-gradient(circle, #fff7a8, #ffcc00, #ff8800); 
    box-shadow: 0 0 40px #ffcc00, 0 0 80px #ff9900, 0 0 150px #ff5500;
    position: absolute;
}
.mercury{
    position: absolute;
    width: 230px; 
    height:230px; 
    border-radius: 50%;
    border:2px dotted rgba(255, 255, 255, .3); 
     animation:rotate 2s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.mercury::after{
    content:" "; 
    width:30px; 
    height:30px; 
    background-color: #b1b1b1;
    box-shadow:0 0 20px #b1b1b1;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    transform-origin: -42px;
}
.venus{
    position: absolute;
    width: 320px; 
    height:320px; 
    border-radius: 50%;
    border:2px dotted rgba(255, 255, 255, .3); 
     animation:rotate 2s linear infinite;
     animation-delay:.3s;
}
.venus::after{
    content:" "; 
    width:30px; 
    height:30px; 
    background-color: #d8a95f;
    box-shadow: 0 0 20px #d8a95f;
    border-radius: 50%;
    position: absolute;
    left: 64%;
    top:92%;
    transform-origin: -46px;
}
.earth{
    position: absolute;
    width: 420px; 
    height:420px; 
    border-radius: 50%;
    border:2px dotted rgba(255, 255, 255, .3); 
     animation:rotate 2s linear infinite;
     animation-delay:.6s;
}
.earth::after{
    content:" "; 
    width:30px; 
    height:30px; 
    background-color: #3d8bff;
    box-shadow: 0 0 20px #3d8bff;
    border-radius: 50%;
    position: absolute;
    left: 24%;
    transform-origin: -46px;
}
.moon{
     width:20px; 
    height:20px; 
    background-color: #ddd;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    transform-origin: 50px 20px;
    animation:rotate 2s linear infinite;
    animation-delay: .2s;
    box-shadow: inset -5px -5px 5px rgba(0,0,0,.5);
}
.mars{
    position: absolute;
    width: 500px; 
    height:500px; 
    border-radius: 50%;
    border:2px dotted rgba(255, 255, 255, .3); 
     animation:rotate 2s linear infinite;
     animation-delay:.4s;
}
.mars::after{
    content:" "; 
    width:30px; 
    height:30px; 
    background-color: #c1440e;
    box-shadow: 0 0 20px #c1440e;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    left: -2%;
    transform-origin: -46px;
}
.jupiter{
    position: absolute;
    width: 580px; 
    height:580px; 
    border-radius: 50%;
    border:2px dotted rgba(255, 255, 255, .3); 
     animation:rotate 2s linear infinite;
     animation-delay:.3s;
}
.jupiter::after{
    content:" "; 
    width:30px; 
    height:30px; 
    background-color: #d9a066;
    box-shadow: 0 0 20px #d9a066;
    border-radius: 50%;
    position: absolute;
    left: 64%;
    transform-origin: -46px;
}
.saturn{
    position: absolute;
    width: 640px; 
    height:640px; 
    border-radius: 50%;
    border:2px dotted rgba(255, 255, 255, .3); 
     animation:rotate 2s linear infinite;
     animation-delay:.8s;
}
.saturn::after{
    content:" "; 
    width:30px; 
    height:30px; 
    background-color: #e0c27a;
    box-shadow: 0 0 20px #e0c27a;
    border-radius: 50%;
    position: absolute;
    left: 28%;
    transform-origin: -46px;
}
.saturn-ring{
    content:" "; 
    width: 50px; 
    height:50px; 
    border-radius: 50%;
    border: 6px solid rgba(245, 213, 138, .8);
    box-shadow: 0 0 20px rgba(245, 213, 138, .8);;
    position: absolute;
    left: 26.4%;
    top:-1.65%;
}